
/*-- TABLE OF CONTENTS 
-----------------------

    01. Google Font Import
    02. Default CSS
    03. Section Padding 
    04. Section Title  
    05. Button  
    06. Form 
    07. Bootstrap Customize 
    08. Bacground Color & Overlay
    09. Custom Animation
    10. Margin & Padding 
    11. Preloader
    12. Mouse Cursor
    13. Search Form 

    14. Header Area
    15. Main Menu 
    16. Mobile Menu  
    17. Off Canvas Menu

    18. Hero Area CSS
    19. Service CSS
    20. About CSS
    21. Project CSS
    22. Process CSS
    23. Testimonial CSS
    24. Team CSS
    25. Blog CSS
    26. CTA CSS
    27. Counter CSS
    28. Footer Area CSS
    29. Breadcrumb CSS
    30. Gallery CSS
    31. Timeline CSS
    32. Price CSS
    33. FAQ CSS

--------------------*/
    

/*-- 01. Google Font Import 
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/*-- 02. Default CSS
----------------- */

html,
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: $jost;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  position: relative;
  z-index: 1;
  background: #fff;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  color: $text_dark;
  font-family: $jost;
  font-weight: 400;
  margin: 0;
}


a {
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: $text_dark;
  &:hover {
    color: $primary_color;
  }
}

p {
  font-family: $jost;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  position: relative;
  color: $body_text;
  @media #{$lg}{
    font-size: 16px;
  }
  @media #{$md}{
    font-size: 16px;
    line-height: 26px;
  }
  @media #{$xs}{
    font-size: 16px;
    line-height: 26px;
  }
}


button,
input,
textarea,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
  outline-width: 0 !important;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

img {
  display: inline-block;
  max-width: 100%;  
}

i,
span,
a {
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

table,
th,
tr,
td {
  border: 1px solid #ddd;
}

th,
tr,
td {
  padding: 10px;
}

hr {
  border-top: 1px solid #777;
}

.fix {
  overflow: hidden;
}


/*-- 03.Section Padding CSS
---------------------------*/

.section-padding {
  padding: 120px 0;
  @media #{$lg} {
    padding: 100px 10px;
  }
  @media #{$md} {
    padding: 90px 30px;
  }
  @media #{$xs} {
    padding: 60px 10px;
  }
  
}


/*-- 04. Section Title 
----------------------*/

.section-title {
  position: relative;
  margin-bottom: 30px;  
  @media #{$md} {
    margin-bottom: 20px;
  }
  @media #{$xs} {
    margin-bottom: 20px;
  }
}

.section-title h1 {
  font-size: 85px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: -3px;

  @media #{$lg} {
    font-size: 70px;
    line-height: 80px;
  }

  @media #{$md} {
    font-size: 60px;
    line-height: 70px;
  }

  @media #{$xs} {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: -1px;
  }
}


.section-title h2 {
    font-size: 55px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -2px;
    color: $text_dark;

  @media #{$lg} {
    font-size: 45px;
    line-height: 50px;
    margin: 0;
  }

  @media #{$md} {
    font-size: 45px;
    line-height: 50px;
    margin: 0;
  }

  @media #{$xs} {
    font-size: 30px;
    line-height: 35px;
    margin: 15px 0;
    letter-spacing: -1px;
  }
}


.section-title h3 {
  font-size: 30px;
  line-height: 40px;

  @media #{$lg} {
    font-size: 30px;
    line-height: 30px;
  }

  @media #{$md} {
    font-size: 36px;
    line-height: 40px;
  }

  @media #{$xs} {
    font-size: 24px;
    line-height: 30px;
  }
}

.section-title h6 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.section-title h6.pill {
    background: #eee;
    display: inline-block;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
}

.section-title p {
  margin: 0;
}

.section-title img {
  border-radius: 0;
  height: 50px;
  position: relative;
  bottom: 0;
  @media #{$xs}{
    height: 40px;
  }
}

.section-title span {
  color: $theme_color;
}



/*--05. Button Style 
--------------------*/

.theme-btn {
  display: inline-flex;
  background: $btn_color;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: capitalize;
  padding: 18px 30px;
  border: 1px solid $btn_color;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;  
  @media #{$lg} {        
		padding: 15px 20px;
	} 
  @media #{$xs} {        
		padding: 15px 20px;
	} 
  &:hover{
    background: $primary_color;
    border-color: $primary_color;
    color: #fff;    
  }
  i{
    font-size: 20px;
    margin-left: 7px;
    transform: rotate(-45deg);    
  }
}

.bordered-btn{
  @extend .theme-btn;
  background: transparent;
  border-color: $text_dark;
  color: $text_dark;
  &:hover{
    background: $btn_color;
    color: #fff;
    border-color: $btn_color;
  }
}

.white-btn{
  @extend .theme-btn;
  background: transparent;
  border-color: #fff;  
  color: #fff;
  &:hover{
    background: #fff;
    border-color: #fff;
    color: #333;    
  }
}

.white-bordered {
  @extend .white-btn;
}

.dark-btn{
  @extend .theme-btn;
  background: $primary_color;
  border-color: $primary_color;
  color: #fff;
  &:hover{
    background: $white;
    color: #333;
    border-color: $white;
  }
}


/*--06. Form Style CSS 
----------------------*/

input,
textarea,
select {
  width: 100%;
  background: transparent;
  border: 1px solid #ddd;
  padding: 13px 20px;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

textarea {
  height: 200px;
}

input[type="submit"],
button[type="submit"] {
  background: $theme_color;
  border-color: $theme_color;
  border-radius: 0;
  display: inline-block;
  color: #fff;  
  width: 35%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  @media #{$xs}{
    width: 100%;
  }
}

input[type="submit"]:hover,
button[type="submit"]:hover {
  border-color: rgb(203 103 30);
  background: rgb(203 103 30);
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
}

input.form-control {
  padding: 12px 20px;
  line-height: 1.2;
}

/*--07. Bootstrap Customize CSS
--------------------------------*/

.container-fluid {
  // padding: 0 20px;
  @media #{$xs}{
    padding: 0 10px;
  }
}

.container {
  max-width: 1200px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* -- 08. Bacground Color & Overlay CSS 
--------------------------------------- */

.theme-bg{
  background: $theme_color;
}

.theme-bg{
  background: $theme_color;
}

.dark-bg {
  background: $primary_color;
}

.gray-bg {
  background: $gray;
}

.white-bg {
  background: $white;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay-2 {
  @extend .overlay;
  opacity: .2;
}
.overlay-3 {
  @extend .overlay;
  opacity: .3;
}
.overlay-4 {
  @extend .overlay;
  opacity: .4;
}
.overlay-5 {
  @extend .overlay;
  opacity: .5;
}

.overlay.active {
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background-color: #000;
	z-index: 99;
	opacity: 0.5;
	visibility: visible;
  }

.text-dark {
  color: $text_dark !important;
}

.text-white {
  color: #fff !important;
}

.fix {
  overflow: hidden;
}

.separator {
  display: block;
  background-color: #ddd;
  width: 30px;
  height: 3px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.b-none{
  border: none !important;
}

p.pt-20 {
  @media #{$xs}{
    padding-top: 0;
  }
}

p.pt-40 {
  @media #{$xs}{
    padding-top: 0;
  }
  
}

.col-6.pt-m-60 {
  margin-top: -30px;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* -- 09. Custom Animation 
--------------------------*/

.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-right {
  animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-right {
  0% {
    transform: translateX(5%);
    clip-path: inset(0 0 0 100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-left {
  animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
  opacity: 0;
}

@keyframes img-anim-left {
  0% {
    transform: translateX(-5%);
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-top {
  animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-top {
  0% {
    transform: translateY(-5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.img-custom-anim-bottom {
  animation: img-anim-bottom 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

@keyframes img-anim-bottom {
  0% {
    transform: translateY(5%);
    clip-path: inset(0 0 100% 0);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}