
/* 28. Footer Area  
-------------------*/

// Footer # 01 & 02

.footer-section {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
    z-index: 1;
    @media #{$xs}{
        height: auto;
    }
}

.footer-section:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #060e12;
    opacity: .5;
    z-index: -1;
}

.footer-content-wrap p {
    font-weight: 300;
}

.site-info {
    padding: 15px 0;
}

.site-info p {
    font-size: 15px;
}


// Footer # 03

.footer-text p {
    font-size: 22px;
    line-height: 32px;
    @media #{$xs}{
        font-size: 18px;
        line-height: 28px;
    }
}

a.footer-btn.bordered-btn {
    border: 2px solid;
    padding: 20px 60px;
    font-size: 20px;
    font-weight: 500;
     @media #{$md}{
        margin-top: 30px;
    }
     @media #{$xs}{
        margin-top: 30px;
    }
}

.footer-bottom{
    border-top: 1px solid #ddd;
}

.footer-section-three .mt-120 {
    @media #{$md}{
        margin-top: 15px;
    }
    @media #{$xs}{
        margin-top: 15px;
    }
    
}