
/* 14. Header Area CSS */

.header-area {

	.navigation {
		height: 100px;
		position: relative;
		z-index: 9;
		display: flex;
		align-items: center;
		background: #fff;
	}

	.header-inner-box {
		display: flex;
		justify-content: space-around;
		align-items: center;
		@media #{$md}{
			justify-content: space-between;
		}

		.logo {
			height: 90px;
			display: flex;
			align-items: center;
			overflow: hidden;
			font-family: $jost;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: 1px;
			color: $primary_color;
			@media #{$xs} {        
				font-size: 30px;				
			}
			img {
				max-height: 70px;
				max-width: 220px;
				width: auto;
				height: auto;
				object-fit: contain;
				display: block;
			}
		}


	}

}


/* -- 15. Main Menu CSS  
-----------------------*/

.main-menu {
	ul {
		line-height: 1;

		>li {
			display: inline-block;
			line-height: 1;
			margin: 0 17px;
			position: relative;

			>a {
				display: inline-block;
				font-size: 17px;
				font-weight: 500;
				text-transform: capitalize;
				line-height: 1;				
				padding: 40px 0;
				overflow: hidden;	
				color: $text_dark;			
			}

			&:hover {				

				>ul {
					opacity: 1;
					visibility: visible;
					transform: translateY(0);
				}
			}

			>ul {
				position: absolute;
				top: 100%;
				width: 218px;
				background-color: #272727;
				left: 0;
				z-index: 999;
				box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.15);
				visibility: hidden;
				opacity: 0;
				transform: translateY(40px);
				transition: all .5s ease-in-out;
				padding: 15px 0px;

				li {
					display: block;
					margin-right: 0;

					a {
						display: block;
						color: #A3A7AD !important;
						padding: 12px 25px;
						font-size: 15px;
						font-weight: 400;
						
						&:hover {
							color: #fff !important;							
						}
						

						i {
							transform: rotate(-45deg);
							font-size: 15px;
							position: absolute;
							right: 20px;
							bottom: 11px;
							transition: .3s;							
						}
						&:hover i {
							transform: rotate(0);
						}
					}
				}

				ul {
					left: 100%;
					top: 0;
				}
			}
		}
	}

	
}

.main-menu ul li {
	position: relative;
	a.navlink{
		&:before {
			position: absolute;
			content: "";
			bottom: 30px;
			left: 0;
			width: 0%;
			height: 2px;
			background: #171717;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s ease 0s;
		}
		&:hover:before {
			visibility: visible;
			opacity: 1;
			width: 100%;
		}		
	}
}

.main-menu ul li.active {
    position: relative;
}

.main-menu ul li.active a {
    color: $primary_color;
}

.main-menu ul li.active:before {
    position: absolute;
    content: "";
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #171717;
}

.main-menu ul > li > ul li a.active {
    color: #fff !important;
	position: relative;
	padding-left: 50px;
}

.main-menu ul > li > ul li a.active:before {
    position: absolute;
    content: "";
    bottom: 50%;
    left: 25px;
    width: 16px;
    height: 2px;
    background: #fff;
	margin-bottom: -1px;
	transition: 0.2s ease-out;
}

.header-three{
	.main-menu{
		ul{
			li{
				a{
					color: #fff;
				}
			}
		}
	}
	.main-menu ul li.active a {
		color: #fff;;
	}
}


/* -- 16. Mobile Menu 
---------------------*/

.mobile-nav {
	position: fixed;
	left: -380px;
	top: 0;
	width: 320px;
	height: 100vh;
	scroll-behavior: smooth;
	overflow-y: auto;
	transition: left .5s ease-in;
	background-color: $primary_color;
	padding: 20px;
	z-index: 9999;
	box-shadow: 0 13px 35px -12px rgba(35, 35, 35, .15);

	&.show {
		left: 0px;
	}

	.close-nav {
		border: 0;
		background: transparent;
		color: #fff;
		border-radius: 30px;
		font-size: 30px;
		position: absolute;
		right: 20px;
		top: 10px;
	}

	// Vertical Menu Style

	.sidebar-nav {
		margin-top: 60px;
	}

	.sidebar-nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: transparent
	}

	.sidebar-nav .metismenu {
		display: flex;
		flex-direction: column;
	}

	.sidebar-nav .metismenu>li {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	.sidebar-nav .metismenu a {
		position: relative;
		display: block;
		padding: 10px 15px;
		transition: all .3s ease-out;
		text-decoration: none;
		color: rgba(255,255,255,.7);
		outline-width: 0;
		font-size: 13px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 1px solid #2a2d36;
	}

	.sidebar-nav .metismenu ul li {
		display: block;
	}

	.sidebar-nav .metismenu ul a {
		padding: 10px 15px 10px 35px;
		position: relative;

		&:hover {
			padding-left: 40px;

			&::before {
				background-color: #fff;
			}
		}

		&::before {
			position: absolute;
			left: 15px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			border: 2px solid #fff;
			content: "";
			top: 50%;
			transition: all .3s ease-in-out;
			transform: translateY(-50%);
		}
	}

	.sidebar-nav .metismenu ul ul {
		list-style-type: circle !important;
	}

	.sidebar-nav .metismenu ul ul a {
		padding: 10px 15px 10px 45px;
		font-weight: 500;
	}

	.sidebar-nav .metismenu a:hover,
	.sidebar-nav .metismenu a:focus,
	.sidebar-nav .metismenu a:active {
		text-decoration: none;
		color: #f8f9fa;
		background: $primary_color;
	}

}

.header-area .container {
	background: #fff;
}

.header-area.absolute-header .container {
	background: transparent;
}

#hamburger {
	color: #171717;
	font-size: 32px;
	line-height: 1;
	text-align: right;
	display: none;

	i {
		cursor: pointer;
	}

	@media (max-width: 1199px) {
		display: block;
	}
}

.dark-bg #hamburger i {    
    color: #fff;
}

.absolute-header #hamburger i {    
    color: #fff;
}


.action-bar {
	margin-top: 60px;
	padding-left: 20px;
  }
  .action-bar a {
	color: #fff;
	display: block;
	margin-top: 12px;
	font-size: 16px;
  }
  .action-bar a i {
	margin-right: 10px;
  }

  .action-bar .theme-btn {
    margin-top: 30px;
    display: inline-block;
}

// Header Right

.header-right {
    display: flex;
    align-items: center;	
	justify-content: end;
}

.header-right .search-trigger i {
    font-size: 24px;
    margin-right: 40px;
	position: relative;
	top: 2px;
	&:hover{
		cursor: pointer;
	}

	@media #{$xs}, #{$md} {        
        display: none;
    } 

}

.contact-number {
    align-items: center;
    gap: 15px;
	margin-right: 30px;

	.icon i {
		font-size: 24px;
		background: #eee;
		width: 45px;
		height: 45px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;		
	}
	.title h4 {
		font-size: 22px;
		font-weight: 500;
	}
}


.social-area a i {
    font-size: 22px;
    color: #fff;
    margin-right: 20px;
}


.header-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	// Hide menu trigger on desktop; show only on tablet and mobile
	@media (min-width: 992px) {
		display: none;
	}
  }

  .menu-trigger {
	// Visible only on mobile/tablet (handled by .header-btn)
  }

// Absolute/Transparent Header

.header-area.absolute-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	-webkit-transition: .3s;
	transition: .3s;
	margin-top: 60px;

	@media #{$md} {
	  margin-top: 0;
	}
	@media #{$xs} {
	  margin-top: 0;
	}
}

#header-1.header-area.absolute-header {	
	margin-top: 0;	
	border-bottom: 1px solid #f6f6f626;
}

.header-area.absolute-header {
	.navigation {
		background: transparent;		
		backdrop-filter: blur(25px);
	}
}

.header-area.absolute-header .logo {
	color: #fff;
}

.header-area.absolute-header .main-menu ul > li > a{
	color: #fff;
}

.header-area.absolute-header .main-menu ul li a:before{
	background: #fff;
}

.header-area.absolute-header .main-menu ul li.active:before{
	background: #fff;
}

.header-area.absolute-header .search-trigger i{
	color: #fff;
}

.header-area.absolute-header .contact-number .title h4{
	color: #fff;
}

.header-area{
	.theme-btn, 
	.dark-btn, 
	.white-btn, 
	.bordered-btn {
		padding: 15px;
	}
}


#header-1{

.container {
    max-width: 1260px !important;
}

.main-menu {
    flex: 0 0 40%;
	@media #{$lg}{
		flex: 0 0 50%;
	}
	@media #{$xs}{
		flex: 0 0 0%;
	}
	
}

.main-menu ul > li{
	margin: 0 10px;
}

.logo{
	flex: 0 0 30%;
	@media #{$lg}{
		flex: 0 0 25%;
	}
	@media #{$xs}{
		flex: 0 0 50%;
	}
	img {
		max-height: 70px;
		max-width: 220px;
		width: auto;
		height: auto;
		object-fit: contain;
	}
}

.header-right{
	flex: 0 0 20%;
	@media #{$lg}{
		flex: 0 0 25%;
	}
	@media #{$xs}{
		flex: 0 0 0%;
	}
	
}


}

// Header Sticky 

.header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 999;
}

.absolute-header .header-sticky{
  background: #0A0300;
}





