/* 32. Price Section CSS  */

/* Service pricing table */
.pricing-table-wrap {
  overflow-x: auto;
  margin-top: 30px;
}

.pricing-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;

  thead {
    tr {
      background: $primary_color;
      color: #fff;
    }
    th {
      padding: 16px 20px;
      text-align: left;
      font-size: 16px;
      font-weight: 500;
      border: 1px solid rgba(255, 255, 255, 0.1);

      &:last-child {
        text-align: right;
      }
    }
  }
  tbody {
    tr {
      transition: 0.3s;
      border-bottom: 1px solid #eee;

      &:hover {
        background: rgba($theme_color, 0.06);
      }
    }
    td {
      padding: 14px 20px;
      font-size: 15px;
      color: $body_text;

      &:last-child {
        text-align: right;
        font-weight: 500;
        color: $text_dark;
      }
    }
  }
}

.pricing-disclaimer {
  background: #f8f9fa;
  border-left: 4px solid $theme_color;
  padding: 20px;
  p {
    margin: 0;
    font-size: 15px;
    color: $body_text;
  }
}

.price-calculator-placeholder {
  background: linear-gradient(135deg, $primary_color 0%, darken($primary_color, 5%) 100%);
  color: #fff;
  padding: 60px 40px;
  text-align: center;
  border-radius: 10px;

  h3 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 12px;
    @media #{$xs} {
      font-size: 24px;
    }
  }
  p {
    color: rgba(255, 255, 255, 0.9);
    margin: 0;
    font-size: 17px;
  }
  .white-btn {
    margin-top: 16px;
  }
}

.single-price-item {
	margin-top: 50px;
	transition: .3s;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 30px 10px;
	min-height: 600px;
	h5 {
		font-size: 24px;
		font-weight: 400;
		position: relative;
		margin: 20px 0 0;		
	}
	p {
		margin: 40px 0px;
	}


	.bordered-btn {
		color: #333;
		border-color: #333;
	  }
	
}

.price-box {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    h3{
        font-size: 40px;
        margin-bottom: 20px;
    }
	h3 span {
		font-size: 16px;
	}
}


.price-list {
    margin-top: 40px;
}

.price-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: block;
		margin: 20px 0;
		color: #878787;
		font-size: 16px;
		position: relative;
		transition: .3s;
        i{
            margin-right: 15px;
        }
	}
}


// Price Page 

#price_page .section-title h1 {
    font-size: 90px;
    font-weight: 500;
    line-height: 100px;

	@media #{$lg}{
        font-size: 80px;
        line-height: 85px;
    }
    @media #{$md}{
        font-size: 70px;
        line-height: 80px;
    }
    @media #{$xs}{
        font-size: 40px;
        line-height: 50px;
    }
}

#price_page .hero-area-inner {
    padding: 80px 0 40px;
}

#price_page .hero-area-content p {
    padding-left: 400px;
    text-align: justify;
    margin-top: -25px;
	@media #{$md} {
		padding-left: 0;
		margin-top: 50px;
	}

	@media #{$xs} {
		padding-left: 0;
		margin-top: 50px;
		text-align: left;
	}
}

#price_page .section-title h1 br {
	@media #{$xs} {
		display: none;
	}
	
  }
  

