/* 23. Testimonial Section CSS  
-------------------------------*/

.testimonial-quote img {
    width: 50px !important;
}

.single-testimonial-item {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    @media #{$xs}{
        flex-direction: column;
    }
}

.testimonial-text p {
    font-size: 26px;
    font-weight: 300;
    line-height: 35px;
    @media #{$xs}{
        font-size: 20px;
        line-height: 30px;
    }
}

.testimonial-quote {
    flex: 0 0 60px;
}

.testimonial-author {
    margin-top: 30px;
}

.testimonial-author span {
    color: #777;
}

.testimonial-one {
    @media #{$md}{
        margin-top: 30px;
    }
    @media #{$xs}{
        margin-top: 30px;
    }
    
}

// Testimonial # 02

#testimonial-2 {

    .quote-wrap img {
        width: 36px;
    }

    .testimonial-text {
        margin-top: 20px;

        p {
            font-size: 18px;
            font-weight: 400;
            color: $text_dark;
            line-height: 28px;
        }
    }

    .testimonial-author {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .author-img img {
        width: 60px !important;
        height: 60px;
        border-radius: 50%;
    }

    .author-title {
        margin-top: 20px;

        h6 {
            font-size: 18px;
        }
    }

}

// Testimonial # 03

#testimonial-3 {
    .single-testimonial-item {
        text-align: center;
        display: block;
        padding: 0 150px;
        @media #{$md}{
            padding: 0 30px;
        }
        @media #{$xs}{
            padding: 0 15px;
        }
    }

    .testimonial-quote {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .testimonial-quote img {
        display: inline-block !important;
    }

    .testimonial-text p {
        font-size: 30px;
        font-weight: 300;
        line-height: 40px;
        @media #{$md}{
            font-size: 24px;
            line-height: 34px;
        }
        @media #{$xs}{
            font-size: 16px;
            line-height: 26px;
        }
    }

}