
/* 31. Timeline Section CSS  */

.timeline-wrapper {
    position: relative;
    z-index: 1;
}

.timeline-item:not(:last-child) {
    padding-bottom: 20px;
}

.timeline-line-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    @media #{$xs}{
        display: none;
    }
}

span.timeline-line {
    background: #ddd;
    display: block;
    height: 100%;
}

.timeline-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    z-index: 1;
    @media #{$xs}{
        flex-direction: column;
    }
}

.timeline-img-wrap {
    width: 50%;
    flex-shrink: 0;
    text-align: right;
    padding: 0 10% 0 0;
    @media #{$xs}{
        width: 100%;
        padding: 0;
    }
}

.timeline-content-wrap {
    width: 50%;
    padding: 0 0 0 10%;
    @media #{$xs}{
        width: 100%;
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }
}

.timeline-item.reverse .timeline-content-wrap {
    padding: 0 10% 0 0;
    text-align: end;
    @media #{$xs}{
        padding: 0;
        margin-top: 20px;
        text-align: center;
    }
}

.timeline-item.reverse .timeline-img-wrap {
    padding: 0 0 0 10%;
    @media #{$xs}{        
        padding: 0;
    }
}

h5.timeline-title {
    margin: 15px 0;
    font-size: 22px;
    @media #{$xs}{
        margin-top: 5px;
    }
}

.time-line-point-wrap {
    position: absolute;
    color: #fff;
    font-size: 1em;
    width: 16px;
    height: 16px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @media #{$xs}{
        display: none;
    }
}

.time-line-point {
    background-color: #272727;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

